
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1D</title>
</head>
<body>
    <div>

        ViewData["A"] =@ViewData["A"] <br />
        ViewBag.B = @ViewBag.A<br />
        TempData["C"] = @TempData["C"]<br />
    </div>
</body>
</html>
